---
import AsideMenuItem from "./AsideMenuItem.astro";
import PlayListMenuItem from "./PlayListMenuItem.astro";

import HomeIcon from "@/icons/Home.astro";
import SearchIcon from "@/icons/Search.astro";
import LibraryIcon from "@/icons/Library.astro";

import { playlists } from "@/lib/data";
---

<div class="flex flex-col gap-2 h-full">
	<nav class="p-4 bg-zinc-900 rounded-md">
		<ul class="flex flex-col gap-6">
			<AsideMenuItem href="/">
				<HomeIcon />
				 Home
			</AsideMenuItem>

			<AsideMenuItem href="/#">
				<SearchIcon />
				 Search
			</AsideMenuItem>
		</ul>
	</nav>

	<nav class="p-4 bg-zinc-900 rounded-md flex-1">
		<ul class="flex flex-col gap-4">
			<AsideMenuItem href="/#">
				<LibraryIcon />
				 Your library
			</AsideMenuItem>

			{playlists.map((playList) => <PlayListMenuItem playList={playList} />)}
		</ul>
	</nav>
</div>
